body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: pink;
  }


#question-container {
    transform: translate(-50%);
}

#input-data-container {
    text-align: center;
    align-items: center;
    padding: 60px;
    border: 50px;
    transform: translate(-50%);
}

.username {
    border: none;
    display: block;
    width: 100%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px dashed #c0c7cf;
    border-radius: 6px;
 
  }

.btn {
    background-color: #FF69B4;
}

.btn:hover {
    color: purple;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
}

.time {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 1rem;
    font-weight: bold;
    padding: 50px;
}

.score {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 1rem;
    font-weight: bold;
    padding: 50px;
    transform: translate(-50%);
}

  
  .active, .collapsible:hover {
    background-color: #555;
  }
  